Checks: >
  -*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  readability-*,
  modernize-*,
  performance-*,
  misc-*,
  bugprone-*,
  cert-*

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
User: ''